<!DOCTYPE html>
<html lang="en">
    <%-include ('../partials/head') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="/public/script/script.js"></script>
    
<body  style="background-color: #f5caca;">
  <%-include('../partials/admin/dash-navbar') %>
 
<br>
<br>


<div class="d-flex justify-content-center mb-5">
  <h1 class="fw-bold justify-content-center">WELCOME ADMIN</h1><br>
 

</div>


<section class="container">
<div class="d-flex align-items-center ">
  <div style="width: 1000px ;margin-left: 150px;"><canvas  id=""></canvas></div>
  <img src="" >
</div>
</section>



  
  <br>
      
    <!-- Start Footer -->
    <footer class="" id="tempaltemo_footer" style="background-color: #2c0404;">
      <div class="container">
          <div class="row">

              <div class="col-md-4 pt-5">
                <a class="navbar-brand text-success logo h1 align-self-center" href="/home">
                  <h2 class="beau" style=" font-family: 'Beau Rivage', cursive; color : azure">Raaga</h2>
                </a>
          
                  <ul class="list-unstyled text-light footer-link-list">
                      <li>
                          <i class="fas fa-map-marker-alt fa-fw"></i>
                          ADMIN PANEL
                      </li>
                     
                      <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        If you notice any issues with the help center or content, please contact support@Raaga.com
                    </li>
                  </ul>
              </div>              
    <div class="w-100 py-3" style="background-color: #210202;">
      <div class="container">
          <div class="row pt-2">
              <div class="col-12">
                  <p class="text-left text-light">
                      Copyright &copy; 2023 Raaga
                      | Designed by Parvathi</a>
                  </p>
              </div>
          </div>
      </div>
  </div>       
  </footer>
    <script src="/script/chart.js"></script>
</body>
</html>