<!-- <link href="assets/imgs/sr.png" rel="SR-icon"> -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-transparent shadow" >
    <div class="container d-flex justify-content-between align-items-center">      
        <a class="navbar-brand text-success logo h1 align-self-center" href="/home">
            <h2 class="beau" style=" font-family: 'Beau Rivage', cursive; color : azure">Raaga</h2>
            <a class="nav-link" style="color: azure;" href="/">Back to Home</a>
          </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>   
    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>


